

.menu-container{
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
padding: 32px;
background-color: aqua;
z-index: 999;

transform: translateX(100%);

&.is-open {
transform: translateX(0);
}
transition: transform 250ms ease-in-out;
}

.mobile-menu {
padding: 0;
margin: 0;
list-style: none;
}


@media (min-width: 768px){
.menu-toggle {
display: none;
}
}
